<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1><%= title %></h1>Siddhi Aarti
    <p>Amazon Fresh <%= title %></p>
=======
    <h1><%= title %></h1>
    <p>Amazon Fresh test <%= title %></p>
    Test
>>>>>>> origin/master
Test Prakhar
  </body>
</html>